/* Clean Slate */
body {
    height: 100vh;
    overflow: hidden;
    background-color: #f0f0f0;
}

* {
    padding: 0;
    margin: 0;

    font-family: Arial, Helvetica, sans-serif;
}

.header {
    height:60px;
    padding: 0 1em;
    background-color: #fd9012;
}

.header-container {
    height: 100%;
    display: flex;
    margin: 0 auto;
    max-width: 1140px;
    justify-content: space-between;
}

.brand {
    align-self: center;
    color: #fff;
}

#liked-btn {
    border: none;
    background-color: rgba(255, 255, 255, 0);

    color: #fff;
}

#arrow {
    transition: transform 250ms ease-out;
}

#arrow.up {
    transform: rotate(180deg);
}

.container {
    position: absolute;
    width: 100vw;
    overflow: hidden;
    top: 60px;
    bottom: 0;
}

.interface {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 350px;

}

.instructions {
    margin-top: 1em;

    font-weight: 400;
    color: #555;
}

.card-container {
    position: relative;
    width: 300px;
    height: 450px;;
}

.card {
    position: absolute;
    display: flex;
    width: 300px;
    height: 450px;
    max-width: 720px;
    justify-content: center;
    align-items: center;

    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .15);
    animation: newCard 250ms ease-out 1;
}

@keyframes newCard {
    from {
        top: -100%;
        transform: rotate(45deg);
        opacity: 0;
    }
    to {
        top: 0%;
        transform: rotate(0deg);
        opacity: 1;
    }
}

@keyframes toRight {
    from {
        right: 0;
        transform: rotate(0deg);
        opacity: 1;
    }
    to {
        right: -100%;
        transform: rotate(45deg);
        opacity: 0;
    }
}

@keyframes toLeft {
    from {
        left: 0%;
        transform: rotate(0deg);
        opacity: 1;
    }
    to {
        left: -100%;
        transform: rotate(-45deg);
        opacity: 0;
    }
}

.card.left {
    left: -100%;
    transform: rotate(-45deg);
}

.number {
    color: #555;
    font-size: 15em;
}

.card .max {
    padding: 1em;
    color: #555;
    font-size: 1.5em;
    text-align: center;
}

.buttons {
    width: 300px;
    margin-top: 1em;
    display: none;
}

.btn {
    flex: 1;
    border: none;
    padding: .75em 0;

    color: #fff;
}

.btn#next {
    background-color: #888;
    border-radius: 5px 0 0 5px;
}

.btn#like {
    background-color: #d4262e;
    border-radius: 0 5px 5px 0;
}

/* Liked */
.liked {
    overflow-y: auto;
    height: 0%;
    position: relative;
    z-index: 1;

    background-color: rgba(0, 0, 0, .8);

    transition: height 250ms ease-out;
}

#liked__list{
    list-style: none;
    text-align: center;
    display: none;
}

.liked__item {
    padding: 1em 0;
    border-bottom: 1px solid #555;
    color: #ddd;
}

.liked__item:last-child {
    border-bottom: none;
}

.show {
    height: 100%;
}

.show #liked__list {
    display: block;
}


@media screen and (min-width: 768px) {
    .buttons {
        display: flex;
    }
}